<app-progress [currentPercent]="currentPercent"></app-progress>

<div class="container-fluid item-container">
  <p class="test-title">{{title[lang]}}</p>

  <div class="col-md-12 text-center">
    <div class="question">
      {{questions.length && questions[currentQuestion].question[lang]}}
    </div>
  </div>

  <div
    (click)="onBack()"
    [ngClass]="{
      'navigation nav-left':true,
      'd-none': currentQuestion === 0
      }"
  >
    <
  </div>
  <div
    [ngClass]="{
      'navigation nav-right':true,
      'd-none':currentQuestion === questions.length - 1
      }"
    (click)="onForward()"
  >
    >
  </div>

  <div class="row">
    <div class="options" *ngFor="let answer of answers">
      <div class="option-container">
        <div
          (click)="onAnswer(answer.value)"
          [ngClass]="{
          'option': true,
          'option-selected': answer.value === questions[currentQuestion].value
          }"
        >
          {{answer.title[lang]}}
        </div>
      </div>
    </div>
  </div>

</div>

<app-results></app-results>
