<form class="container-fluid item-container new-page">
  <h2>{{title[lang]}}</h2>
  <p>{{subtitle[lang]}}</p>
  <br>
  <div class="form-row">
    <label for="dob">{{dob[lang]}}</label>
    <input id="dob" name="dob" type="date">
  </div>
  <br>
  <div class="form-row">
    <label for="country">{{country[lang]}}</label>
    <select name="country" id="country">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <br>
  <div class="form-row">
    <label for="gender">{{gender[lang]}}</label>
    <select name="gender" id="gender">
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <br>
  <button>No thanks</button>
  <button>Submit</button>
</form>
