.results {
  border: 3px solid #181a27;
  padding-top: 1em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  width: 100%;
  -webkit-transition: all .1s linear;

  &--folded {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 3px;
  }
}

.results-toggle {
  user-select: none;
  cursor: pointer;
  display: inline-block;
  background-color: #181a27;
  position: absolute;
  top: -18px;
  left: 49%;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  margin-left: -47px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.arrow {
  width: 0px;
  height: 0px;
  margin-right: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  &--up {
    border-bottom: 5px solid white;
  }

  &--down {
    border-top: 5px solid white;
  }
}
